#logo {
}

body {
    background-color: #ebeff5 !important;
    margin-bottom: 60px;
}


#total-orders {
    background-color: #4cb4c7;
}


#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}

/* Footer */

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #343a40;
    color: #999c9f;
    display: inline-block;
}

.container2 {
    clear: right;
    float: right;
}

/* Buttons */

/* Buttons */

/* Buttons */

/* Buttons */

