{%  extends 'diet/main.html' %}

{% block content %}

{%if request.user.is_staff%}
<div class="card card-body">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card card-body">

                    <a class="btn btn-primary btn-lg" href="{% url 'recipes' %}">
                        <!--                    <h4 class="card-title">Recipes</h4>-->
                        Browse Recipes
                    </a>
                    <!--                <h8 class="card text-center">Browse existing recipes</h8>-->
                </div>
                <div class="card card-body">
                    <a class="btn btn-info btn-lg" href="{% url 'create_recipe'%}">Create Recipes</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card card-body">
                    <a class="btn btn-primary btn-lg" href="{% url 'create_type'%}">Create Type</a>
                </div>
                <div class="card card-body">
                    <a class="btn btn-info btn-lg" href="{% url 'create_recipe'%}">Browse Type</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card card-body">
                    <a class="btn btn-primary btn-lg" href="{% url 'create_type'%}">Create Type</a>
                </div>
                <div class="card card-body">
                    <a class="btn btn-info btn-lg" href="{% url 'create_type'%}">Browse Type</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}
{% endblock %}

