{%  extends 'diet/main.html' %}
{%load static%}

{% block header%}
    <link rel="stylesheet" type="text/css" href="{% static '/css/landingPage.css'%}">
{% endblock %}

{%block content%}
<div class="header">
    <div class="food">
      <h1>Stigler</h1>
    </div>

</div>

    <br>

<div class="center-title">
    <h3>A balanced diet on a budget.</h3>
</div>

<div class="center-justified">
    <p>Stigler designs diets to meet your personal needs with delicious recipes and automated shopping lists all on a budget.</p>
</div>

<div class="center-title">
    <h3>Taking the thinking out of dieting.</h3>
</div>
<div class="center-justified">
    <p>Simply <a href="{%url 'register'%}">sign up</a> and enter some details so we can get an accurate picture of you and your dietary goals, and we will suggest meal plans and shopping lists.</p>
</div>

<div class="center-title">
    <h3>Easy to use, never the same meal plan.</h3>
</div>
<div class="center-justified">
    <p>Unlike other optimizers, Stigler will base your diet in recipes, not ingredients. If you don't like a recipe suggestion, we will generate a new one!</p>
</div>

{% endblock %}
<body>

</body>
