{%  extends 'diet/main.html' %}
{%load static%}

{% block header%}
<link rel="stylesheet" type="text/css" href="{% static '/css/products.css'%}">
{% endblock %}

{% block content %}
<div class="header">
    <div class="products">
        <h1>Products</h1>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <h4>Products
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_product'%}">Create new
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table table-borderless">
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Calories</th>
                                <th>Carbohydrates</th>
                                <th>Protein</th>
                                <th>Fat</th>
                                <th>Type</th>
                                {%if request.user.is_staff%}

                                <th>Update</th>
                                <th>Delete</th>
                                {%endif%}

                            </tr>
                            {% for i in products%}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.amount}} {{i.unit}}</td>
                                <td>{{i.calories}} kCal</td>
                                <td>{{i.carbohydrates}}g</td>
                                <td>{{i.protein}}g</td>
                                <td>{{i.fat}}g</td>
                                <td>{{i.type}}</td>
                                {%if request.user.is_staff%}
                                <td><a class="btn btn-sm btn-info" href="{% url 'update_product' i.id %}">Update</a>
                                </td>
                                <td><a class="btn btn-sm btn-danger" href="{%url 'delete_product' i.id%}">Delete</a>
                                </td>
                                {%endif%}

                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}