{%  extends 'diet/main.html' %}
{%load static%}

{% block header%}
    <link rel="stylesheet" type="text/css" href="{% static '/css/recipes.css'%}">
{% endblock %}

{% block content %}
<div class="header">
   <div class="kitchen">
      <h1>Recipes</h1>
   </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <h4>Recipes</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_recipe'%}">Create new</a>
                    </li>
                </ul>
            </div>
            <div class="card card-body">
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table-borderless">
                            <tr>
                                <th>Name</th>
                                <th>Tags</th>
                                <th>Calories</th>
                                <th>Protein</th>
                                <th>Carbohydrates</th>
                                <th>Fat</th>
                                {%if request.user.is_staff%}
                                <th>Update</th>
                                <th>Delete</th>
                                {%endif%}

                            </tr>
                            {% for i in recipes%}
                            <tr>
                                <td><a class="" href="{%url 'view_recipe' i.id%}">{{i.name}}</a></td>
                                <td>{{i.tag_list}}</td>
                                <td>{{i.simpleMacros.calories}}</td>
                                <td>{{i.simpleMacros.carbohydrates}}</td>
                                <td>{{i.simpleMacros.protein}}</td>
                                <td>{{i.simpleMacros.fat}}</td>
                                {%if request.user.is_staff%}
                                <td><a class="btn btn-sm btn-info" href="{%url 'update_recipe' i.id%}">Update</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{%url 'delete_recipe' i.id%}">Delete</a></td>
                                {%endif%}
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}