{%  extends 'diet/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <h4>Types
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_type'%}">Create new
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <table  class = "table table-borderless">
                        <tr>
                            <th>Name</th>
                        </tr>
                        {% for i in types%}
                        <tr>
                            <td>{{i.name}}</td>
                            {%if request.user.is_staff%}
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_type' i.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{%url 'delete_type' i.id%}">Delete</a></td>
                            {%endif%}
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}
