{%  extends 'diet/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-title">
                <h4>Types
                </h4>
            </div>
            <div class="card-subtitle">
                 <a class="btn btn-primary" href="{% url 'create_type'%}">
                Create new
                </a>
            </div>
            <div class="card-body">
                <table  class = "table table-borderless">
                        <tr>
                            <th>Name</th>
                        </tr>
                        {% for i in types%}
                        <tr>
                            <td>{{i.name}}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_type' i.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{%url 'delete_type' i.id%}">Delete</a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

