{%  extends 'diet/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm">
        <div class="card">
            <h4 class="card-header">Today's Menu
            </h4>
            <div class="card-body">
                <a class="btn btn-lg btn-info" href="{% url 'test' %}">Calculate</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <h5 class="card-header">Your total
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        Total daily cost {{daily_cost}}£
                        <br>
                        Total annual cost {{annual_cost}}£
                        <br>
                        Total calories {{total_calories}}kcal
                    </div>
                    <div class="col-sm">
                        Total carbohydrates {{total_carbohydrates}}g
                        <br>
                        Total proteins {{total_protein}}g
                        <br>
                        Total fats {{total_fat}}g
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <table class="table table-borderless">

            <tr>
                <th>Name</th>
                <th>Servings</th>
                <th>Ingredients</th>
                <th>Calories</th>
                <th>Carbohydrates</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Price</th>
            </tr>

            {% for recipe in recipes%}
            <tr>
                <td>{{recipe.recipe.name}}</td>
                <td>{{recipe.servings}}</td>
                <td>{{recipe.recipe.ingredient}}</td>
                <td>{{recipe.macros.calories}}</td>
                <td>{{recipe.macros.carbohydrates}}</td>
                <td>{{recipe.macros.protein}}</td>
                <td>{{recipe.macros.fat}}</td>
                <td>{{recipe.macros.price}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>


{% endblock content %}