{%  extends 'diet/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm">
        <div class="card">
            <h4 class="card-header">Today's Menu
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-lg btn-info" href="{% url 'generate_menu' %}">Calculate</a>
                    </div>
                    <div class="col-sm">
                        <h6>Target calories: {{objective.calories_min}} - {{objective.calories_max}} kCal</h6>
                        <h6>Target carbohydrates: {{objective.carbohydrates_min}} - {{objective.carbohydrates_max}}g</h6>
                        <h6>Target proteins: {{objective.protein_min}} - {{objective.protein_max}}g</h6>
                        <h6>Target fats: {{objective.fat_min}} - {{objective.fat_max}}g</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <h5 class="card-header">Your total
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        <h6>Total calories: {{total_calories}} kCal</h6>
                        <h6>Total carbohydrates: {{total_carbohydrates}}g</h6>
                        <h6>Total proteins: {{total_protein}}g</h6>
                        <h6>Total fats: {{total_fat}}g</h6>
                    </div>
                    <div class="col-sm">
                        <h6>Total daily cost: {{daily_cost}}£</h6>
                        <h6>Total annual cost: {{annual_cost}}£</h6>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <table class="table table-borderless">

            <tr>
                <th>Name</th>
                <th>Servings</th>
                <th>Ingredients</th>
                <th>Calories</th>
                <th>Carbohydrates</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Price</th>
            </tr>

            {% for recipe in recipes%}
            <tr>
                <td><a class="" href="{%url 'view_recipe' recipe.recipe.id%}">{{recipe.recipe.name}}</a></td>
                <td>{{recipe.servings}}</td>
                <td>{%for ingredient in recipe.ingredients%}
                    <p>{{ingredient.ingredient.type.name}} x{{ingredient.amount}} {{ingredient.ingredient.unit}}</p>
                    {%endfor%}

                </td>
                <td>{{recipe.macros.calories}} kCal</td>
                <td>{{recipe.macros.carbohydrates}}g</td>
                <td>{{recipe.macros.protein}}g</td>
                <td>{{recipe.macros.fat}}g</td>
                <td>{{recipe.macros.price}}£</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>


{% endblock content %}